* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.header {
    background: url('/images/banner/banner3.png');
    width: 100%;
    height: 808px;
}

.banner {
    padding-left: 850px;
    padding-top: 250px;
}

.banner-title {
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    display: flex;
    width: 525px;
    flex-direction: column;
    padding-top: 0px;
    padding-right: 50px;
    /* flex-shrink: 0; */
}

.banner-description {
    display: flex;
    width: 494px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 26px; */
    padding-left: 20px;
    margin: 5px;
}

.btn {
    color: #005FAC;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    border: none;
    margin-top: 30px;
    margin-left: 350px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.frame {
    display: flex;
    justify-content: space-around;

    margin-left: 200px;
    margin-top: 150px;
}

.frame-content {
    margin-top: 220px;
    margin-left: 130px;
}

.frame-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.frame-description .frame-list {
    width: 300px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    /* margin-top: 10px; */
    padding-top: 0px;
}

/* .frame-list{
    width: 400px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
} */
.plans {
    text-align: center;
    padding-top: 150px;
}

.plan-title {
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.plan-content {
    display: flex;
    justify-content: space-around;
    /* padding-top: 30px; */
    margin: 100px;
    /* gap: 30px; */

}

.plan-img {
    width: 70px;
    height: 70px;
    margin: 0px;
}

.motivation {
    /* margin: 100px; */
    /* text-align: left; */
    border-radius: 8px;
    background: url('/images/watch.png');
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    /* background: url('/images/gradient1.png'); */
    /* linear-gradient(90deg, url('/images/gradient1.png'), rgba(0, 95, 172, 0.00) 100%); */
    margin-left: 230px;

}

.motivation-title {
    display: flex;
    padding-left: 100px;
    padding-top: 50px;
    color: #FFF;
    font-size: 25px;
    font-weight: 750;
}

.call {
    padding-left: 100px;
    display: flex;
    align-items: left;
}